{%extends 'base.html'%}
{% load crispy_forms_tags %}
{%load static%}
{%block style%}<link rel="stylesheet" type="text/css" href="{%static 'css/client.css'%}"/>{%endblock%}

{%block content%}
    <div class="pt-5 d-flex justify-content-center" >
        <div class="p-lg-5 border border-3 border-light bg- bg-opacity-10 rounded p-5"  id="form-container">
            <form action="{%block url%}{%endblock%}" method="post" id="reg__form" >
                {% csrf_token %}
                    <div class="form">
                        {%crispy form%}
                        <div class="pt-3 d-flex justify-content-center">
                            <button type="submit" class="btn btn-lg btn-success">{%block btn_name%}{%endblock%}</button>
                        </div>
                    </div>
                    
            </form>
        </div>
    </div>
    
{%endblock%}

{%block js%} <script src="{%static 'js/client.js'%}"></script> {%endblock%}