{%extends 'base.html'%}
{% load crispy_forms_tags %}
{%load static%}
{%block style%}<link rel="stylesheet" type="text/css" href="{%static 'css/client.css'%}">{%endblock%}
{%block content%}

<div class="pt-5 d-flex justify-content-center" id="form-container" >
    <div class="p-lg-5 border border-3 border-light bg-success bg-opacity-10 rounded p-5" >
        <form method="post" id="reg__form">
            {% csrf_token %}
        
            <!-- {% crispy form %} if edited edit from the python script-->
            
                <div class="form">
                    {{form}}
                </div>
                <div class="pt-3 d-flex justify-content-center">
                    <input type="submit" value="Submit" class="btn btn-lg btn-outline-success">
                    
                </div>
              
            </div>
        </form>
    </div>
</div>
{%endblock%}

{%block js%} <script src="{%static 'js/client.js'%}"></script> {%endblock%}