{%extends "base.html"%}
{% load crispy_forms_tags %}
{%load static%}
{%block content%}


        {% if form.errors %}
            <ul class="errors">
                {% for error in form.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="text-center pt-3">
            <h6  class="alert alert-info" >Please enter these types of EXCEL .xlsx .xlsm .xlmx .xltx</h6>
        </div>
        <form action="{%url 'main:compare'%}" method="post" enctype="multipart/form-data" class="uniForm">
            {%csrf_token%}
                {% crispy form %}
                <!-- {{form|crispy}} -->
        </form>
    
        <div style="display:none;" class="position-fixed text-center" id="loading-container"><div class="d-flex justify-content-end m-5"><button id="close-btn" type="button" class="btn btn-danger">Stop!</button></div><div id="loading"><div><div class="spinner-border text-danger" role="status"><span class="sr-only"></span></div><h4>Loading...</h4></div></div></div>


{%endblock%}

{%block js%}
    <script>
        $(function(){
            $('form').on('submit', function(e){
                $('#loading-container').css('display',"block")
                
            //     e.preventDefault()
            //     var formData = new FormData($('form').get(0))
            //     // $.post(window.location.href, formData, function(data) {
            //     //     alert(data, "GBJ");
            //     // });

            //    console.log(formData)
            //     $.ajax({
            //         headers:{
            //             "X-CSRFToken": '{{csrf_token}}',
            //         },
            //         url: window.location.href,
            //         processData: false,
            //         contentType: false,
            //         data: formData,
            //         method: 'POST',
            //         csrfmiddlewaretoken: '{{ csrf_token }}',
            //         success: (data) => {
            //             localStorage.setItem("pid", JSON.stringify(data['PID']))
            //             console.log(JSON.stringify(data));
            //         },
            //     })
            
            });

           
        })

        // $("#close-btn").on("click", function(e){
        //     $("#loading-container").css('display','none')
        //     var pid = localStorage.getItem('pid')
        //     alert("HELLO", pid)
        //     $.ajax({
        //         url: window.location.href,
        //         data:JSON.stringify({'pid':pid}),
        //         method: 'DELETE',
        //         success: (data) => {
        //                 localStorage.removeItem('pid')
        //                 console.log(JSON.stringify(data));
        //         },
        //     })
        //     window.stop()

        // });

        window.onpopstate = function() {
            $("#loading-container").css('display','none')
        }; history.pushState({}, '');

        
    // $("#close-btn").on("click", function(e){
    //     $.ajax({
    //         url: window.location.href,
              
    //         data: {"stop":true},
    //         method: 'GET',
    //         csrfmiddlewaretoken: '{{ csrf_token }}'
    //     })
    // });
    </script>
{%endblock%}