{%extends "base.html"%}
{% load crispy_forms_tags %}
{%load static%}
{%block content%}
<div class="container p-5">
  <div class="d-flex  justify-content-center ">
    <div class="row">
    {%for service in object_list%}
    
      <div class="col-sm-12 col-lg-4">
        <a href="{%url 'main:service' service.name %}" >
          

            <div class="card m-2 border border-3" >
              <div class="middle position-fixed">
                <p>35 days</p>
              </div>
              <img src="{{service.icon.url}}" class="card-img-top p-5" alt="..." max-width="200px" >
              <div class="card-body">
                <h5 class="card-title text-center">{{service.name}}</h5>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                <!-- <a href="#" class="btn btn-success">Go somewhere</a> -->
              </div>
            </div>
          </a>
      </div>
    
    {%endfor%}
    </div>
  </div>
</div>



{%endblock%}